body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

header {
    flex-basis: 25%
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    flex-basis: 75%;
}

h1 {
    font-size: 8rem;
    font-weight: 400;
    color: var(--blueColor);
    line-height: 5rem;
    margin: 1rem;
}

.ajout {
    width: 55%;
    padding-bottom: 1rem;
    padding-right: 8rem;
}

.ajout-nom {
    border: 1px solid var(--blueColor);
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nom-input {
    margin: 0;
    padding: 0;
    border: none;
    color: var(--blueColor);
    font-size: 1.5rem;
    width: 500px;
}

#nom-input:focus {
    border: none !important;
    outline: none !important;
}

#nom-input::placeholder {
    color: var(--blueColor);
}

#ajout-liste {
    margin: 0;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: var(--blueColor);
    font-size: 1.3rem;
    font-weight: 600;
}

#liste-ajout {
    margin: 0;
    padding: 0;
}

.nom {
    list-style: none;
    border: 1px solid var(--blueColor);
    border-top: none;
    font-size: 1.3rem;
    color: var(--blueColor);
    padding: 1.5rem 1rem;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.nom:hover {
    background-color: rgba(59, 0, 254, 1);
    color: white;
}

.nom::after {
    content: '+';
    transform: rotate(45deg);
    font-weight: 600;
    position: absolute;
    right: 25px;
}

.list-random-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

#btn-aleatoire,
#btn-groupe {
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: 1px solid var(--blueColor);
    color: var(--blueColor);
    font-size: 1.1rem;
    width: 330px;
    cursor: pointer;
}

#btn-aleatoire:hover,
#btn-groupe:hover {
    color: white;
    background-color: var(--blueColor);
}

#btn-aleatoire:disabled,
#btn-groupe:disabled {
    opacity: 0.5;

}

#btn-aleatoire:disabled:hover,
#btn-groupe:disabled:hover {
    color: var(--blueColor);
    background-color: transparent;
}

/* LISTE ALEATOIRE */

.list-random-group {
    width: 100%;
}

#liste-aleatoire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 89vw;
    max-height: 500px;
    list-style: none;
}

.groupList {
    margin-right: 2.3rem;
    border: 1px solid var(--blueColor);
    font-size: 1.3rem;
    color: var(--blueColor);
    padding: 1.5rem 1rem;
    width: 46%;
}

.groupList:first-child {
    background-image: url(one.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 7%;
}

.groupList:nth-child(2) {
    background-image: url(two.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 7%;
}

.groupList:nth-child(3) {
    background-image: url(three.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 7%;
}

/* LISTE GROUPE */

#liste-groupe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 89vw;
    max-height: fit-content;
    list-style: none;
}

.groupLi {
    margin: 1rem;
    padding: 1.5rem 2rem;
    width: 350px;
    min-height: 100px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid var(--blueColor);
    color: var(--blueColor);
    display: flex;
    align-items: center;
}